snes9x1.51.ep10r2/
SNEStuff v1.2.1/
Anotações 2.txt
Anotações
Blocos de texto.txt
hardcoded.txt
hardcodex.exe
hardcodex.rar
Laplace's Demon (English v.2.0).sfc
Laplace's Demon (English v.2.0).zip
Saida.txt
scripts_originais.zip